.dis-inline{
    display: inline-block;
}
.done-todo{
    text-decoration: line-through;
}
.margin-left-btn{
    margin-right: 50px;
}
input{
    margin-top: 10px;
}
input.dis-inline{
    width: auto;
    margin-left: 20px;
}
body{
    margin: 2% auto;
}
.center-align-text{
    text-align: center;
}
a{
    cursor: pointer;
}
.vertical-nav{
    height: 1000px;
    border: none;
    background-color: #0B3A5A;
    padding: 0px;
}
.vertical-nav nav{
    height: 100%;
    background-color: #0B3A5A;
    border: none;
}   
.vertical-nav .navbar-nav{
    width: 100%;
}
.vertical-nav nav ul li{
    display: block;
    clear: both;
    width: 100%;
}
.vertical-nav nav ul li.active{
    background-color: green;
}
.vertical-nav .navbar-default .navbar-nav > li > a{
    color:#fff;
}
.vertical-nav  .navbar-default .navbar-nav > .active > a{
    background-color: green;
}
.table-backround,.change-wrapper{
    background-color:#5d5d5d;
}
.change-wrapper{
    overflow: hidden;
    padding:15px 10px;
}
.change-wrapper span{
    color:#fff;
}
.change-wrapper span.left-arrow{
    margin-right: 10px;
    cursor: pointer;
}
.change-wrapper span.right-arrow{
    margin-left: 10px;
    cursor: pointer;
}
 .table.table-backround > tbody > tr > td,.table.table-backround > thead:first-child > tr:first-child > th{
    border-top:none;
    border-bottom:none;
    text-align: center;
 }
  .table.table-backround > tbody > tr > td{
      cursor: pointer;
  }
  .table-header{
      padding: 10px 0px;
  }
 .table-header th{
     background-color: #888888;
     color:#fff;
 }
  .table.table-backround > tbody > tr > td{
      color:#fff;
  }
 .table.table-backround > tbody > tr > td.prev-month{
     color: #888888;
 }